@{
    ViewData["title"] = "CoffeUploadFile";
}
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 position-relative overlay-bottom">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">UploadFile</h1>
        <div class="d-inline-flex mb-lg-5">
            <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">UploadFile</p>
        </div>
    </div>
</div>
<div style="width:100%; display:flex; justify-content:center; align-items:center;">
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="FileUpload">
        <div>
            <div>
                <p>Upload File</p>
                <input type="file" name="file" />
            </div>
        </div>
        <div>
            <input type="submit" value="Upload File" />
        </div>
        <div>
            <span>@TempData["msg"]</span>
        </div>
    </form>
    <div style="margin-top:10px; font-size:20px;">
        <a href="pages">Check uploaded files</a>
    </div>
</div>